@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", serif;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: hsl(180, 52%, 96%);
}

.job-listing-container {
  width: 100%;
  height: 100%;
}
.job-listing-container .inner-job-listing-container .upper-section img {
  width: 100%;
}
.job-listing-container .inner-job-listing-container .lower-section {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .job-listing-container .inner-job-listing-container .lower-section {
    width: 87%;
  }
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-top: -35px;
  padding: 16px 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search .search-values {
  display: flex;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search .search-values .tag_container {
  display: flex;
  align-items: center;
  background-color: hsl(180, 52%, 96%);
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search .search-values .tag_container .tag-item {
  border: 1px solid transparent;
  padding: 6px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search .search-values .tag_container .close_button {
  background-color: hsl(180, 29%, 50%);
  height: 100%;
  padding: 4px 5px;
  cursor: pointer;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search .clearSearch {
  font-weight: 600;
  cursor: pointer;
  color: hsl(180, 29%, 50%);
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-search .clearSearch:hover {
  text-decoration: underline;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner {
  display: flex;
  flex-direction: column;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card {
  display: flex;
  margin: 10px 0px;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #fff;
  align-items: center;
  border-left: 3px solid transparent;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card:hover {
  border-left: 3px solid hsl(180, 29%, 50%);
}
@media screen and (max-width: 768px) {
  .job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card_img {
    margin-bottom: 10px;
    margin-top: -30px;
  }
  .job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card_img img {
    width: 50px;
    margin-left: 20px;
  }
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card-body {
  flex: 1;
  margin-left: 10px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card-body {
    margin: 0;
    padding: 0px 0px;
    border-bottom: 1px solid hsl(180, 14%, 20%);
  }
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card-body .card-body-text1 {
  font-weight: 500;
  color: hsl(180, 29%, 50%);
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card-body .card-body-text1 .card-new-job-card {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 12px;
  padding: 4px;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card-body .card-body-text2 {
  margin: 8px 0px;
  font-weight: 900;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card-body .card-body-text2:hover {
  color: hsl(180, 29%, 50%);
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card-body .card-body-details span {
  color: hsl(180, 8%, 52%);
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card_tags {
    margin-top: 10px;
  }
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card_tags .tag {
  display: inline-block;
  border: 1px solid transparent;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  padding: 6px 6px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
}
.job-listing-container .inner-job-listing-container .lower-section .lower-section-inner .listing-card .card_tags .tag:hover {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
}
.job-listing-container .inner-job-listing-container .attribution {
  background-color: #fff;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */